[[#if (urlParam "details")]]
<div class="details-content">
<!--
    [[#block "detailsResourceHeader"]]
    <div class="details-header">

        <mp-resource-thumbnail iri='[[this]]' class='detail-img'>
            <mp-resource-thumbnail-fallback>
                <with-types iri='[[this]]'
                        template='{{> noImage}}'
                        [[> rsp:TypeMappings]]
                    >
                    <template id="noImage">
                        <span class="rs-icon {{getValueByKey typeToImage allTypes 'rs-icon-no-image'}} detail-icon-noimg" alt="{{directTypesLabels}}" title='{{directTypesLabels}}'></span>
                    </template>
                </with-types>
            </mp-resource-thumbnail-fallback>
        </mp-resource-thumbnail>

        <div style="max-width: 70%;">

            <mp-draggable iri='[[this]]'>
                <div class="draggable-container">
                    <semantic-query query='SELECT ?type ?typeLabel WHERE {
                                            <[[this]]> a ?type .
                                            ?type rdfs:label ?typeLabel .
                                            FILTER (lang(?typeLabel) = "en")}'
                        template='{{> resourceType }}'>
                        <template id='resourceType'>
                            <div class="detail-type">
                                {{#each bindings}}{{typeLabel.value}}{{#if @last}}{{else}}, {{/if}}{{/each}}
                            </div>
                        </template>
                    </semantic-query>

                    <mp-label iri='[[this]]' class="detail-label"></mp-label>
                </div>
            </mp-draggable>

            <mp-copy-to-clipboard text='[[this]]'>
                <div class="rs-copy-IRI">Copy IRI</div>
            </mp-copy-to-clipboard>

        </div>

    </div>
    [[/block]]
  -->
    <bs-tabs class="details-tabs">
        <bs-tab title='Site Description' event-key='site-description' mount-on-enter=true class="rawdata-tab">
            <mp-field-visualization subject='[[this]]'
                fields='[[fieldDefinitionsFromQuery (setQueryBindings "SELECT DISTINCT ?field WHERE {?resource ?field ?o . ?field a <http://www.researchspace.org/resource/system/fields/Field> } ORDER BY DESC(?field)" resource=this.iri) ]]'                                 template='{{> template}}'>
            <template id="template">{{> rsp:ResourceFieldBasedVisualization subject="[[this]]"}}</template>
            </mp-field-visualization>
        </bs-tab>
    </bs-tabs>
</div>

[[else]]
<with-types fixed-key='resource-[[this]]' iri='[[this]]'
        template='{{> resource}}'
        [[> rsp:TypeMappings]]
>
    <template id='resource'>
        <div class="rs-resource-container">
            [[#block "resourceHeader"]]
            [[!-- Resource Header --]]
                <div class="rs-resource-header {{getValueByKey entityBgColor allTypes 'rs-entity-bg-thing'}}">

                    [[!-- Header top with draggable link --]]
                    <div class="rs-resource-header-topContainer">
                        [[#block "resourceHeaderTop"]]
                            <mp-popover class="rs-resource-header-popover">
                                <mp-popover-trigger placement="right" trigger='["hover"]' root-close='true'>
                                    <div class="h4 rs-resource-header-topContent">
                                        <mp-draggable iri='[[this]]'>
                                            <div>
                                                <i class="rs-icon {{getValueByKey typeToIcon allTypes 'rs-icon-entity'}}"></i>  
                                                <span style="margin-left: 8px;">{{directTypesLabels}} -&nbsp;</span>
                                                <mp-label iri='[[this]]'></mp-label>
                                            </div>
                                        </mp-draggable>
                                    </div>
                                </mp-popover-trigger>

                                <mp-popover-content>
                                    <div>Drag and drop in the Clipboard</div>
                                </mp-popover-content>

                            </mp-popover>
                        [[/block]]

                        <div class="rs-resource-header-topButtons">

                            <semantic-link-container uri='[[resolvePrefix "rsp:ThinkingFrames"]]'
                                                    urlqueryparam-view='knowledge-map' urlqueryparam-resource='[[this]]'>       
                                <button type="button" title="Author Resource in Knowledge Map">
                                    <rs-icon icon-type="round" icon-name="account_tree"></rs-icon>
                                </button>
                            </semantic-link-container>

                            <mp-event-trigger id='details-view-trigger' type='Component.TemplateUpdate'
                                data='{"iri": "{{iri}}"}' targets='["details-view", "open-details-sidebar"]'>
                                <button type="button" title="Resource Details">
                                    <rs-icon icon-type="rounded" icon-name="info" symbol="true"></rs-icon>
                                </button>
                            </mp-event-trigger>

                            <semantic-link-container uri='[[resolvePrefix "rsp:ThinkingFrames"]]'
                                                    urlqueryparam-view='resource-editor' urlqueryparam-resource='[[this]]'>     
                                <button type="button" title="Author Resource in Form">
                                    <rs-icon icon-type="rounded" icon-name="edit_note" symbol="true"></rs-icon>
                                </button>
                            </semantic-link-container>

                        </div>
                    </div>

                    [[!-- Header content with image (if available) and resource primary informations --]]

                    <div class="rs-resource-header-content-container">
                        <div class="rs-resource-header--image-container">

                            <semantic-if query='ASK {
                                                    {<[[this]]> crm:P138i_has_representation|rs:PX_has_main_representation ?image . }                                                                                                                                                                               UNION
                                                    {<[[this]]> a rs:EX_Digital_Image . }
                                                    UNION
                                                    {<[[this]]> a rs:EX_Digital_Image_Region . }
                                                }'
                                then='{{> then}}'>

                                <template id="then">
                                    <div class="rs-resource-img__btngroup">

                                        {{#if (hasKey allTypes "http://www.researchspace.org/ontology/EX_Digital_Image_Region")}}
                                        [[!-- don't show resource media icon for image regions --]]
                                        {{else}}
                                        <mp-overlay-dialog title="Resource Media" type="modal" class="modal-xlSize">
                                            <mp-overlay-dialog-trigger>
                                                <button type="button" class="btn btn-icon" title="Explore Media">
                                                    <rs-icon icon-type="rounded" icon-name="fullscreen" symbol="true"></rs-icon>
                                                </button>
                                            </mp-overlay-dialog-trigger>
                                            <mp-overlay-dialog-content>
                                                <mp-page-loader urlqueryparam-frame=true iri='http://www.researchspace.org/resource/ItemCardMedia' context='[[this]]'>                                                                                                                                          </mp-page-loader>
                                            </mp-overlay-dialog-content>
                                        </mp-overlay-dialog>
                                        {{/if}}

                                        <semantic-link-container uri='[[resolvePrefix "rsp:ThinkingFrames"]]'
                                                urlqueryparam-view='iiif' urlqueryparam-resource='[[this]]'>
                                            <button type="button" class="btn btn-icon" title="Explore Images in high resolution Viewer">                                                                                                                                                                        <rs-icon icon-type="rounded" icon-name="image" symbol="true"></rs-icon>
                                            </button>
                                        </semantic-link-container>

                                        [[#if (hasPermission "forms:ldp:*")]]
                                            {{#if (hasKey allTypes "http://www.cidoc-crm.org/cidoc-crm/E18_Physical_Thing")}}   
                                            {{#if (hasKey allTypes "http://www.researchspace.org/ontology/EX_Digital_Image_Region")}}                                                                                                                                                                       [[!-- don't show annotation icon for image regions --]]
                                            {{else}}
                                                <semantic-link-container uri='[[resolvePrefix "rsp:ThinkingFrames"]]'
                                                        urlqueryparam-view='image-annotation' urlqueryparam-resource='[[this]]'>
                                                    <button type="button" class="btn btn-icon" title="Annotate Images">
                                                        <rs-icon icon-type="round" icon-name="photo_size_select_large"></rs-icon>
                                                    </button>
                                                </semantic-link-container>
                                            {{/if}}
                                            {{/if}}
                                        [[/if]]

                                    </div>
                                </template>

                            </semantic-if>

                            [[#block "imageContent"]]
                            <rs-object-representations query='SELECT DISTINCT ?label ?imgURL ?isMainRep
                                                                WHERE {
                                                                OPTIONAL { <[[this]]> rdfs:label ?label . }
                                                                OPTIONAL {
                                                                {
                                                                    <[[this]]> a ?type ;
                                                                    FILTER(?type != rs:EX_Digital_Image) .
                                                                    ?representationProp rdfs:subPropertyOf* crm:P138i_has_representation .                                                                                                                                                                                          <[[this]]> ?representationProp ?representation .

                                                                    OPTIONAL {
                                                                    <[[this]]> ?representationProp ?representation .
                                                                    ?representation a rs:EX_Digital_Image ;
                                                                                    crmdig:L60i_is_documented_by/crmdig:L11_had_output/rs:PX_has_file_name ?fileName.                                                                                                                                                               BIND(CONCAT("/proxy/IIIF/", ?fileName, "/full/!640,480/0/default.jpg") AS ?uploadIiifUrl)                                                                                                                                                                       }

                                                                    OPTIONAL {
                                                                    <[[this]]> ?representationProp ?representation .
                                                                    ?representation a rs:EX_Digital_Image .
                                                                    BIND(REPLACE(STR(?representation), "^.*/(.*)$", "$1") as ?imageID) .                                                                                                                                                                                            BIND(?imageID as ?imgIiifId)
                                                                    BIND(CONCAT("/proxy/IIIF/", ?imageID, "/full/!640,480/0/default.jpg") AS ?iiifUrl)                                                                                                                                                                              }

                                                                    OPTIONAL {
                                                                    <[[this]]> crm:P138i_has_representation ?representation .   
                                                                    ?representation a rs:EX_Digital_Image_Region .
                                                                    ?representation crmdig:L49_is_primary_area_of ?image .      
                                                                    ?image crmdig:L60i_is_documented_by/crmdig:L11_had_output/rs:PX_has_file_name ?fileName.                                                                                                                                                                        ?representation rs:boundingBox ?bb.
                                                                    BIND(STRAFTER(?bb, "xywh=") AS ?boundingBox).
                                                                    BIND(CONCAT("/proxy/IIIF/", ?fileName, "/", ?boundingBox, "/!640,480/0/default.jpg") AS ?uploadIiifRegionUrl)                                                                                                                                                   }

                                                                    OPTIONAL {
                                                                    <[[this]]> crm:P138i_has_representation ?representation .   
                                                                    ?representation a rs:EX_Digital_Image_Region .
                                                                    ?representation crmdig:L49_is_primary_area_of ?image .      
                                                                    ?representation rs:boundingBox ?bb.
                                                                    BIND(STRAFTER(?bb, "xywh=") AS ?boundingBox).
                                                                    BIND(REPLACE(STR(?image), "^.*/(.*)$", "$1") as ?imageID) . 
                                                                    BIND(CONCAT("/proxy/IIIF/", ?imageID, "/", ?boundingBox, "/!640,480/0/default.jpg") AS ?iiifRegionUrl)                                                                                                                                                          }


                                                                    BIND(COALESCE(?uploadIiifUrl, ?iiifUrl, ?uploadIiifRegionUrl, ?iiifRegionUrl, ?representation) AS ?imgURLx)                                                                                                                                                     BIND(IF(EXISTS { <[[this]]> rs:PX_has_main_representation ?representation }, true, false) AS ?isMainRepx)                                                                                                                                                   } UNION {
                                                                    <[[this]]> a rs:EX_Digital_Image ;
                                                                    OPTIONAL {
                                                                    <[[this]]> a rs:EX_Digital_Image ;
                                                                    crmdig:L60i_is_documented_by/crmdig:L11_had_output/rs:PX_has_file_name ?fileName.                                                                                                                                                                               BIND(CONCAT("/proxy/IIIF/", ?fileName, "/full/!640,480/0/default.jpg") AS ?uploadIiifUrl)                                                                                                                                                                       }

                                                                    OPTIONAL {
                                                                    <[[this]]> a rs:EX_Digital_Image ;
                                                                    BIND(REPLACE(STR(<[[this]]>), "^.*/(.*)$", "$1") as ?imageID) .                                                                                                                                                                                                 BIND(CONCAT("/proxy/IIIF/", ?imageID, "/full/!640,480/0/default.jpg") AS ?iiifUrl)                                                                                                                                                                              }
                                                                    BIND(COALESCE(?uploadIiifUrl, ?iiifUrl, <[[this]]>) AS ?imgURLx)                                                                                                                                                                                                BIND(true AS ?isMainRepy)
                                                                }
                                                            }
                                                            BIND(?imgURLx AS ?imgURL)
                                                            BIND(COALESCE(?isMainRepx, ?isMainRepy) AS ?isMainRep)
                                                            } ORDER BY ?imgURL '

                                                            no-image-template = '{{> noImage}}'

                            >

                            <template id='noImage'>
                                <div class="object-representations__image--focused">
                                    <span class="rs-icon {{getValueByKey typeToImage allTypes 'rs-icon-entity_no-image'}} {{getValueByKey entityIconColor allTypes 'rs-icon-entity_no-image'}}"></span>
                                </div>
                            </template>>

                            </rs-object-representations>
                            [[/block]]
                        </div>

                        <div style="padding: 1.8% 1.5% 1.5% 5%;">
                            [[> resourceHeaderData image=true]]
                        </div>
                    </div>
                </div>
            [[/block]]


            [[!-- Tabs: Site Description, Related Places, Nara Grid --]]
            <bs-tab-container id="tab-container" class="rs-resource-tabs"
                default-active-key="site-description">
                <div>
                    <bs-nav bs-style="tabs">

                        <bs-nav-item event-key="site-description">Site Description</bs-nav-item>
                        <bs-nav-item event-key="nara-grid">Nara Grid</bs-nav-item>
                        <bs-nav-item event-key="risk-analysis">Risk Analysis</bs-nav-item>
                        <bs-nav-item event-key="places">Magnitude Scale</bs-nav-item>



                    </bs-nav>

                    <bs-tab-content animation="true">

                        <bs-tab-pane event-key="site-description">
                            <div class="rs-resource-tab-container">

                                <div>
                                    <hr class="rs-resource-section--headerLine">
                                    [[#block "instituteHeader"]]
                                    <span class="h1 rs-resource-section--header">Dataset</span>
                                    [[/block]]

                                    <span class="text-underline rs-resource-section--header">Latest confirmed data set from     
                                        [[currentDateTime format="dd-MM-yyyy"]].</span>
                                </div>

                                <div class="rs-resource-data-table">
                                    <mp-field-visualization subject='[[this]]'
                                                            fields='[[fieldDefinitionsFromQuery (setQueryBindings "SELECT DISTINCT ?field WHERE {?resource ?field ?o . ?field a <http://www.researchspace.org/resource/system/fields/Field> } ORDER BY DESC(?field)" resource=this.iri) ]]' 
                                                            fields='[[fieldDefinitions
           
                                                                    descrizione="http://www.siriusplatform-risk-assessment/field/descrizione"
                  
                                                                    ]]'
                                                            template='{{> template}}'>
                                        <template id="template">{{> rsp:ResourceFieldBasedVisualization subject="[[this]]"}}</template>
                                    </mp-field-visualization>
                                </div>

                            </div>

                        </bs-tab-pane>


                        <bs-tab-pane event-key="places" mount-on-enter=true>
                            <div class="rs-resource-tab-container">

                              [[> sirius:tornado-graph]]

                            </div>

                        </bs-tab-pane>


                        [[#if (hasPermission "forms:ldp:*")]]
                        <bs-tab-pane event-key="nara-grid" mount-on-enter=true>
                            <div class="rs-resource-tab-container">
                                [[> sirius:nara-grid]]
                            </div>
                        </bs-tab-pane>
                        [[/if]]
                        <bs-tab-pane event-key="risk-analysis">
                            <div class="rs-resource-tab-container">

                              [[> sirius:risk-analysis]]

                            </div>

                        </bs-tab-pane>

                    </bs-tab-content>
                </div>
            </bs-tab-container>

        </div>
    </template>
</with-types>
[[/if]]

[[#*inline "resourceHeaderData"]]
[[#block "headerData"]]
<!-- RESOURCE LABEL-->
<div class="rs-resource-header--singletitle">
    <div class="rs-resource-header--title" style="text-transform: capitalize;">
        <mp-label iri='[[this]]'></mp-label>
    </div>
    <div style="display: flex ;">
        <mp-copy-to-clipboard text='[[this]]'>
            <div class="rs-copy-IRI">Copy IRI</div>
        </mp-copy-to-clipboard>
        <div class="statements">Statements</div>
    </div>

</div>

<semantic-query query='SELECT (<[[this]]> as ?iri)
                                (GROUP_CONCAT(DISTINCT(?typeLabel); SEPARATOR = " - ") AS ?typeList)
                                (GROUP_CONCAT(DISTINCT(?instituteLabel); SEPARATOR = "; ") AS ?instituteList)
                        WHERE {
                            OPTIONAL {
                                <[[this]]> a ?type .
                                ?type rdfs:label ?typeLabel .
                                BIND( LANG(?typeLabel) AS ?language).
                            }

                            FILTER (?language = "en" || ?language = "")

                            OPTIONAL {
                                <[[this]]> crm:P105_right_held_by ?institute .
                                ?institute rdfs:label ?instituteLabel .
                            }

                        } GROUP BY ?iri' template='{{> headerDefaultData}}'>

    <template id="headerDefaultData">
        <div>
            {{#each bindings}}
            <!-- RESOURCE DATA SOURCE -->
            {{#ifCond instituteList.value "!==" ""}}
            <div class="row pb-2-5">
                <div class="[[#if image]]col-xs-4[[else]]col-xs-2[[/if]]">Data source</div>
                <div class="[[#if image]]col-xs-8[[else]]col-xs-10[[/if]]">{{instituteList.value}}</div>
            </div>
            {{/ifCond}}

            <!-- RESOURCE TYPE -->
            {{#ifCond typeList.value "!==" ""}}
            <div class="row" style="margin-bottom:16px;">
                <div class="[[#if image]]col-xs-4[[else]]col-xs-2[[/if]]">Type</div>
                <div class="[[#if image]]col-xs-8[[else]]col-xs-10[[/if]]" style="text-transform:capitalize;">
                    {{typeList.value}}
                </div>
            </div>
            {{/ifCond}}

            {{/each}}
        </div>
    </template>
</semantic-query>
[[/block]]
[[/inline]]
