<semantic-form
  persistence='{"type":"sparql","targetInsertGraphIri":"http://www.researchspace.org/resource/g/data","repository":"default"}'
  new-subject-template="https://w3id.org/sirius/cultural-heritage-site/id/{{UUID}}"
  post-action="redirect"
  browser-persistence="true"
  form-id="example-1"
  fields='[
    {
      "id": "type",
      "label": "Type",
      "description": "The type of the created instance",
      "xsdDatatype": "xsd:anyURI",
      "minOccurs": "1",
      "maxOccurs": "1",
      "valueSetPattern": "SELECT $value $label WHERE { VALUES ($value $label) { (<http://www.cidoc-crm.org/cidoc-crm/E18_Physical_Thing> \"Site\") (<http://www.cidoc-crm.org/cidoc-crm/E73_Information_Object> \"Information Object\") } }",
      "selectPattern": "SELECT $value WHERE { $subject a $value }",
      "insertPattern": "INSERT { $subject a $value } WHERE {}",
      "deletePattern": "DELETE { $subject a $value } WHERE {}"
    },
    {
      "id": "denominazione_insert",
      "label": "Denominazione",
      "description": "CIDOC-CRM: P1_is_identified_by -> E41_Appellation -> skos:prefLabel",
      "xsdDatatype": "rdf:langString",
      "minOccurs": "1",
      "maxOccurs": "1",
      "selectPattern": "SELECT $value WHERE { $subject <http://www.cidoc-crm.org/cidoc-crm/P1_is_identified_by> ?appellation . ?appellation a <http://www.cidoc-crm.org/cidoc-crm/E41_Appellation> ; <http://www.w3.org/2004/02/skos/core#prefLabel> $value . }",
      "insertPattern": "INSERT { $subject <http://www.cidoc-crm.org/cidoc-crm/P1_is_identified_by> ?appellation . ?appellation a <http://www.cidoc-crm.org/cidoc-crm/E41_Appellation> ; <http://www.w3.org/2004/02/skos/core#prefLabel> $value . } WHERE { OPTIONAL { $subject <http://www.cidoc-crm.org/cidoc-crm/P1_is_identified_by> ?existing . ?existing a <http://www.cidoc-crm.org/cidoc-crm/E41_Appellation> . } BIND(COALESCE(?existing, IRI(CONCAT(STR($subject), \"/appellation/\", STRUUID()))) AS ?appellation) }",
      "deletePattern": "DELETE { ?appellation <http://www.w3.org/2004/02/skos/core#prefLabel> ?old . } WHERE { $subject <http://www.cidoc-crm.org/cidoc-crm/P1_is_identified_by> ?appellation . ?appellation <http://www.w3.org/2004/02/skos/core#prefLabel> ?old . }"
    },
    {
      "id": "nara_d1_a1", "label": "NARA Artistic / Form & Design", "xsdDatatype": "rdf:langString", "minOccurs": "0", "maxOccurs": "1",
      "selectPattern": "SELECT $value WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d1_a1> $value . } }", "insertPattern": "INSERT { $subject <https://w3id.org/sirius/field/nara_d1_a1> $value . } WHERE {}", "deletePattern": "DELETE { $subject <https://w3id.org/sirius/field/nara_d1_a1> ?old . } WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d1_a1> ?old . } }"
    },
    {
      "id": "nara_d1_a2", "label": "NARA Artistic / Materials", "xsdDatatype": "rdf:langString", "minOccurs": "0", "maxOccurs": "1",
      "selectPattern": "SELECT $value WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d1_a2> $value . } }", "insertPattern": "INSERT { $subject <https://w3id.org/sirius/field/nara_d1_a2> $value . } WHERE {}", "deletePattern": "DELETE { $subject <https://w3id.org/sirius/field/nara_d1_a2> ?old . } WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d1_a2> ?old . } }"
    },
    {
      "id": "nara_d1_a3", "label": "NARA Artistic / Use & Functions", "xsdDatatype": "rdf:langString", "minOccurs": "0", "maxOccurs": "1",
      "selectPattern": "SELECT $value WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d1_a3> $value . } }", "insertPattern": "INSERT { $subject <https://w3id.org/sirius/field/nara_d1_a3> $value . } WHERE {}", "deletePattern": "DELETE { $subject <https://w3id.org/sirius/field/nara_d1_a3> ?old . } WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d1_a3> ?old . } }"
    },
    {
      "id": "nara_d1_a4", "label": "NARA Artistic / Technics & Workmanship", "xsdDatatype": "rdf:langString", "minOccurs": "0", "maxOccurs": "1",
      "selectPattern": "SELECT $value WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d1_a4> $value . } }", "insertPattern": "INSERT { $subject <https://w3id.org/sirius/field/nara_d1_a4> $value . } WHERE {}", "deletePattern": "DELETE { $subject <https://w3id.org/sirius/field/nara_d1_a4> ?old . } WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d1_a4> ?old . } }"
    },
    {
      "id": "nara_d1_a5", "label": "NARA Artistic / Location & Setting", "xsdDatatype": "rdf:langString", "minOccurs": "0", "maxOccurs": "1",
      "selectPattern": "SELECT $value WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d1_a5> $value . } }", "insertPattern": "INSERT { $subject <https://w3id.org/sirius/field/nara_d1_a5> $value . } WHERE {}", "deletePattern": "DELETE { $subject <https://w3id.org/sirius/field/nara_d1_a5> ?old . } WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d1_a5> ?old . } }"
    },
    {
      "id": "nara_d1_a6", "label": "NARA Artistic / Spirit & Feelings", "xsdDatatype": "rdf:langString", "minOccurs": "0", "maxOccurs": "1",
      "selectPattern": "SELECT $value WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d1_a6> $value . } }", "insertPattern": "INSERT { $subject <https://w3id.org/sirius/field/nara_d1_a6> $value . } WHERE {}", "deletePattern": "DELETE { $subject <https://w3id.org/sirius/field/nara_d1_a6> ?old . } WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d1_a6> ?old . } }"
    },
    {
      "id": "nara_d2_a1", "label": "NARA Historic / Form & Design", "xsdDatatype": "rdf:langString", "minOccurs": "0", "maxOccurs": "1",
      "selectPattern": "SELECT $value WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d2_a1> $value . } }", "insertPattern": "INSERT { $subject <https://w3id.org/sirius/field/nara_d2_a1> $value . } WHERE {}", "deletePattern": "DELETE { $subject <https://w3id.org/sirius/field/nara_d2_a1> ?old . } WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d2_a1> ?old . } }"
    },
    {
      "id": "nara_d2_a2", "label": "NARA Historic / Materials", "xsdDatatype": "rdf:langString", "minOccurs": "0", "maxOccurs": "1",
      "selectPattern": "SELECT $value WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d2_a2> $value . } }", "insertPattern": "INSERT { $subject <https://w3id.org/sirius/field/nara_d2_a2> $value . } WHERE {}", "deletePattern": "DELETE { $subject <https://w3id.org/sirius/field/nara_d2_a2> ?old . } WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d2_a2> ?old . } }"
    },
    {
      "id": "nara_d2_a3", "label": "NARA Historic / Use & Functions", "xsdDatatype": "rdf:langString", "minOccurs": "0", "maxOccurs": "1",
      "selectPattern": "SELECT $value WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d2_a3> $value . } }", "insertPattern": "INSERT { $subject <https://w3id.org/sirius/field/nara_d2_a3> $value . } WHERE {}", "deletePattern": "DELETE { $subject <https://w3id.org/sirius/field/nara_d2_a3> ?old . } WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d2_a3> ?old . } }"
    },
    {
      "id": "nara_d2_a4", "label": "NARA Historic / Technics & Workmanship", "xsdDatatype": "rdf:langString", "minOccurs": "0", "maxOccurs": "1",
      "selectPattern": "SELECT $value WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d2_a4> $value . } }", "insertPattern": "INSERT { $subject <https://w3id.org/sirius/field/nara_d2_a4> $value . } WHERE {}", "deletePattern": "DELETE { $subject <https://w3id.org/sirius/field/nara_d2_a4> ?old . } WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d2_a4> ?old . } }"
    },
    {
      "id": "nara_d2_a5", "label": "NARA Historic / Location & Setting", "xsdDatatype": "rdf:langString", "minOccurs": "0", "maxOccurs": "1",
      "selectPattern": "SELECT $value WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d2_a5> $value . } }", "insertPattern": "INSERT { $subject <https://w3id.org/sirius/field/nara_d2_a5> $value . } WHERE {}", "deletePattern": "DELETE { $subject <https://w3id.org/sirius/field/nara_d2_a5> ?old . } WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d2_a5> ?old . } }"
    },
    {
      "id": "nara_d2_a6", "label": "NARA Historic / Spirit & Feelings", "xsdDatatype": "rdf:langString", "minOccurs": "0", "maxOccurs": "1",
      "selectPattern": "SELECT $value WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d2_a6> $value . } }", "insertPattern": "INSERT { $subject <https://w3id.org/sirius/field/nara_d2_a6> $value . } WHERE {}", "deletePattern": "DELETE { $subject <https://w3id.org/sirius/field/nara_d2_a6> ?old . } WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d2_a6> ?old . } }"
    },
    {
      "id": "nara_d3_a1", "label": "NARA Social / Form & Design", "xsdDatatype": "rdf:langString", "minOccurs": "0", "maxOccurs": "1",
      "selectPattern": "SELECT $value WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d3_a1> $value . } }", "insertPattern": "INSERT { $subject <https://w3id.org/sirius/field/nara_d3_a1> $value . } WHERE {}", "deletePattern": "DELETE { $subject <https://w3id.org/sirius/field/nara_d3_a1> ?old . } WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d3_a1> ?old . } }"
    },
    {
      "id": "nara_d3_a2", "label": "NARA Social / Materials", "xsdDatatype": "rdf:langString", "minOccurs": "0", "maxOccurs": "1",
      "selectPattern": "SELECT $value WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d3_a2> $value . } }", "insertPattern": "INSERT { $subject <https://w3id.org/sirius/field/nara_d3_a2> $value . } WHERE {}", "deletePattern": "DELETE { $subject <https://w3id.org/sirius/field/nara_d3_a2> ?old . } WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d3_a2> ?old . } }"
    },
    {
      "id": "nara_d3_a3", "label": "NARA Social / Use & Functions", "xsdDatatype": "rdf:langString", "minOccurs": "0", "maxOccurs": "1",
      "selectPattern": "SELECT $value WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d3_a3> $value . } }", "insertPattern": "INSERT { $subject <https://w3id.org/sirius/field/nara_d3_a3> $value . } WHERE {}", "deletePattern": "DELETE { $subject <https://w3id.org/sirius/field/nara_d3_a3> ?old . } WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d3_a3> ?old . } }"
    },
    {
      "id": "nara_d3_a4", "label": "NARA Social / Technics & Workmanship", "xsdDatatype": "rdf:langString", "minOccurs": "0", "maxOccurs": "1",
      "selectPattern": "SELECT $value WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d3_a4> $value . } }", "insertPattern": "INSERT { $subject <https://w3id.org/sirius/field/nara_d3_a4> $value . } WHERE {}", "deletePattern": "DELETE { $subject <https://w3id.org/sirius/field/nara_d3_a4> ?old . } WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d3_a4> ?old . } }"
    },
    {
      "id": "nara_d3_a5", "label": "NARA Social / Location & Setting", "xsdDatatype": "rdf:langString", "minOccurs": "0", "maxOccurs": "1",
      "selectPattern": "SELECT $value WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d3_a5> $value . } }", "insertPattern": "INSERT { $subject <https://w3id.org/sirius/field/nara_d3_a5> $value . } WHERE {}", "deletePattern": "DELETE { $subject <https://w3id.org/sirius/field/nara_d3_a5> ?old . } WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d3_a5> ?old . } }"
    },
    {
      "id": "nara_d3_a6", "label": "NARA Social / Spirit & Feelings", "xsdDatatype": "rdf:langString", "minOccurs": "0", "maxOccurs": "1",
      "selectPattern": "SELECT $value WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d3_a6> $value . } }", "insertPattern": "INSERT { $subject <https://w3id.org/sirius/field/nara_d3_a6> $value . } WHERE {}", "deletePattern": "DELETE { $subject <https://w3id.org/sirius/field/nara_d3_a6> ?old . } WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d3_a6> ?old . } }"
    },
    {
      "id": "nara_d4_a1", "label": "NARA Scientific / Form & Design", "xsdDatatype": "rdf:langString", "minOccurs": "0", "maxOccurs": "1",
      "selectPattern": "SELECT $value WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d4_a1> $value . } }", "insertPattern": "INSERT { $subject <https://w3id.org/sirius/field/nara_d4_a1> $value . } WHERE {}", "deletePattern": "DELETE { $subject <https://w3id.org/sirius/field/nara_d4_a1> ?old . } WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d4_a1> ?old . } }"
    },
    {
      "id": "nara_d4_a2", "label": "NARA Scientific / Materials", "xsdDatatype": "rdf:langString", "minOccurs": "0", "maxOccurs": "1",
      "selectPattern": "SELECT $value WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d4_a2> $value . } }", "insertPattern": "INSERT { $subject <https://w3id.org/sirius/field/nara_d4_a2> $value . } WHERE {}", "deletePattern": "DELETE { $subject <https://w3id.org/sirius/field/nara_d4_a2> ?old . } WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d4_a2> ?old . } }"
    },
    {
      "id": "nara_d4_a3", "label": "NARA Scientific / Use & Functions", "xsdDatatype": "rdf:langString", "minOccurs": "0", "maxOccurs": "1",
      "selectPattern": "SELECT $value WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d4_a3> $value . } }", "insertPattern": "INSERT { $subject <https://w3id.org/sirius/field/nara_d4_a3> $value . } WHERE {}", "deletePattern": "DELETE { $subject <https://w3id.org/sirius/field/nara_d4_a3> ?old . } WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d4_a3> ?old . } }"
    },
    {
      "id": "nara_d4_a4", "label": "NARA Scientific / Technics & Workmanship", "xsdDatatype": "rdf:langString", "minOccurs": "0", "maxOccurs": "1",
      "selectPattern": "SELECT $value WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d4_a4> $value . } }", "insertPattern": "INSERT { $subject <https://w3id.org/sirius/field/nara_d4_a4> $value . } WHERE {}", "deletePattern": "DELETE { $subject <https://w3id.org/sirius/field/nara_d4_a4> ?old . } WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d4_a4> ?old . } }"
    },
    {
      "id": "nara_d4_a5", "label": "NARA Scientific / Location & Setting", "xsdDatatype": "rdf:langString", "minOccurs": "0", "maxOccurs": "1",
      "selectPattern": "SELECT $value WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d4_a5> $value . } }", "insertPattern": "INSERT { $subject <https://w3id.org/sirius/field/nara_d4_a5> $value . } WHERE {}", "deletePattern": "DELETE { $subject <https://w3id.org/sirius/field/nara_d4_a5> ?old . } WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d4_a5> ?old . } }"
    },
    {
      "id": "nara_d4_a6", "label": "NARA Scientific / Spirit & Feelings", "xsdDatatype": "rdf:langString", "minOccurs": "0", "maxOccurs": "1",
      "selectPattern": "SELECT $value WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d4_a6> $value . } }", "insertPattern": "INSERT { $subject <https://w3id.org/sirius/field/nara_d4_a6> $value . } WHERE {}", "deletePattern": "DELETE { $subject <https://w3id.org/sirius/field/nara_d4_a6> ?old . } WHERE { OPTIONAL { $subject <https://w3id.org/sirius/field/nara_d4_a6> ?old . } }"
    }
  ]'
>
  <bs-panel>
    <h4>Create new CRM Instance</h4>

    <semantic-form-recover-notification></semantic-form-recover-notification>

    <bs-tabs fixed-key="resource-content-insert-tabs">
      <bs-tab event-key="site-description" title="Site Description">
        <semantic-form-text-input
          for="denominazione_insert"
          label="Denominazione"
          languages='["it","en"]'>
        </semantic-form-text-input>

        <semantic-form-select-input for="type" label="Type"></semantic-form-select-input>
      </bs-tab>

      <bs-tab event-key="nara-grid" title="Nara Grid">
        <div style="color:#666; padding:8px 0;">[[> sirius:nara-grid-insert]]</div>
      </bs-tab>

      <bs-tab event-key="risk-analysis" title="Risk Analysis">
        <div style="color:#666; padding:8px 0;">Risk Analysis fields can be configured here.</div>
      </bs-tab>

      <bs-tab event-key="places" title="Magnitude Scale">
        <div style="color:#666; padding:8px 0;">Magnitude Scale fields can be configured here.</div>
      </bs-tab>

      <bs-tab event-key="site-pictures" title="Site Pictures">
        <div style="color:#666; padding:8px 0;">Site Pictures fields can be configured here.</div>
      </bs-tab>

      <bs-tab event-key="cartographic-docs" title="Cartographic Documentation">
        <div style="color:#666; padding:8px 0;">Cartographic Documentation fields can be configured here.</div>
      </bs-tab>
    </bs-tabs>

    <semantic-form-errors></semantic-form-errors>

    <div class="btn-group">
      <button name="reset" class="btn btn-default">Reset</button>
      <button name="submit" class="btn btn-action">Save</button>
    </div>
  </bs-panel>
</semantic-form>
