<div class="bso-component home-search">
    <bs-col md="10" md-offset="1">
        <div class="bso-component simple-search">
            <semantic-simple-search
              query='
                PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
                PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
                
                SELECT ?resource ?label ?typelabel WHERE {
                  ?resource crm:P1_is_identified_by ?name_identifier ;
                            a ?type .
                  ?name_identifier a crm:E41_Appellation ;
                                   skos:prefLabel ?label .
                  OPTIONAL { ?type skos:prefLabel ?typelabel }
                  
                  FILTER REGEX(?label, ?__token__, "i")
                  FILTER (
                    ?type = crm:E18_Physical_Thing ||
                    ?type = crm:E39_Actor ||
                    ?type = crm:E5_Event ||
                    ?type = crm:E53_Place ||
                    ?type = crm:E55_Type
                  )
                } 
                LIMIT 10'
              template='<span style="color: blue;" title="{{resource.value}}">{{label.value}} ({{typelabel.value}})</span>'
              input-placeholder='Search for sites, agents, events, places...'
            >
            </semantic-simple-search>
        </div>
    </bs-col>
</div>

<div class="bso-component separator panel">
    <bs-row>
        <bs-col md="2">
            <h3>Sites</h3>
            <semantic-query
                query="PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
                       SELECT (COUNT(?subject) as ?num) WHERE {
                           ?subject a crm:E18_Physical_Thing .
                       }"
                template="{{#each bindings}}Found {{num.value}} sites{{/each}}"
            ></semantic-query>
            <div class="bottom">
                <semantic-link iri="http://www.siriusplatform-risk-assessment/resource/structured-search">
                    See all
                </semantic-link>
            </div>
        </bs-col>
        <bs-col md="10" class="bso-component card-container horizontal-scroll">
            <semantic-query
                query="PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
                       PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
                       
                       SELECT DISTINCT ?subject ?label WHERE {
                           ?subject a crm:E18_Physical_Thing ;
                                   crm:P1_is_identified_by ?appellation .
                           ?appellation a crm:E41_Appellation ;
                                       skos:prefLabel ?label .
                           BIND(DAY(NOW()) as ?day)
                           BIND(SHA512(CONCAT(STR(?day), STR(?subject))) AS ?random)
                       } ORDER BY ?random LIMIT 10"
                template="{{#each bindings}}<div class='card' style='display: inline-block; margin: 10px; width: 200px; border: 1px solid #ddd; padding: 15px; border-radius: 4px;'><div class='card-body'><h5><semantic-link iri='{{subject.value}}'>{{label.value}}</semantic-link></h5></div></div>{{/each}}"
            ></semantic-query>
        </bs-col>
    </bs-row>
</div>

<div class="bso-component separator panel">
    <bs-row>
        <bs-col md="2">
            <h3>Places</h3>
            <semantic-query
                query="PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
                       SELECT (COUNT(?subject) as ?num) WHERE {
                           ?subject a crm:E53_Place .
                       }"
                template="{{#each bindings}}Found {{num.value}} places{{/each}}"
            ></semantic-query>
            <div class="bottom">
                <semantic-link iri="http://www.siriusplatform-risk-assessment/resource/structured-search">
                    See all
                </semantic-link>
            </div>
        </bs-col>
        <bs-col md="10" class="bso-component card-container horizontal-scroll">
            <semantic-query
                query="PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
                       PREFIX crmgeo: <http://www.ics.forth.gr/isl/CRMgeo/>
                       PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
                       
                       SELECT DISTINCT ?subject ?label WHERE {
                           ?subject a crm:E53_Place ;
                                   crmgeo:P1_is_identified_by ?appellation .
                           ?appellation a crmgeo:E44_Place_Appellation ;
                                       skos:prefLabel ?label .
                           BIND(DAY(NOW()) as ?day)
                           BIND(SHA512(CONCAT(STR(?day), STR(?subject))) AS ?random)
                       } ORDER BY ?random LIMIT 10"
                template="{{#each bindings}}<div class='card' style='display: inline-block; margin: 10px; width: 200px; border: 1px solid #ddd; padding: 15px; border-radius: 4px;'><div class='card-body'><h5><semantic-link iri='{{subject.value}}'>{{label.value}}</semantic-link></h5></div></div>{{/each}}"
            ></semantic-query>
        </bs-col>
    </bs-row>
</div>
