[[#if (urlParam "frame")]]
<style>
  .rs-application .page.page-local-overwrite {
    padding-top: 0;
  }
</style>
<div class="page page-local-overwrite">
    [[> crm:E5_Event]]
</div>

<!-- Fallback partial used by event templates -->
<template id="scaleTripleCell">
  <div class="scale-triple-cell" style="white-space:nowrap;">
    {{#if v1.value}}{{v1.value}}{{else if v1}}{{v1}}{{/if}}
    {{#if v2.value}} / {{v2.value}}{{else if v2}} / {{v2}}{{/if}}
    {{#if v3.value}} / {{v3.value}}{{else if v3}} / {{v3}}{{/if}}
    {{#if desc.value}}<div class="muted" style="margin-top:.25rem">{{desc.value}}</div>{{else if desc}}<div class="muted" style="margin-top:.25rem">{{desc}}</div>{{/if}}
  </div>
</template>

[[else]]
[[!-- Breadcrumb --]]
<ol class="page-breadcrumb">
    <li>
        <mp-link title="Home" url="/">Home</mp-link>
    </li>

   [[#block "activeBreadcrumb"]]
  <semantic-query query='PREFIX rso: <http://www.researchspace.org/ontology/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX base: <http://www.cidoc-crm.org/cidoc-crm/>
PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
SELECT ?value_appellation  WHERE {
  <[[this]]> a base:E5_Event; rdfs:label ?value_appellation .
}'
    template='{{> breadcrumbTmpl}}'>
    <template id='breadcrumbTmpl'>
      <li class="active">
        {{#each bindings}}
          {{value_appellation.value}}: {{value_appellation.value}}{{#if @last}}{{else}}; {{/if}}
        {{/each}}
      </li>
    </template>
   </semantic-query>
   [[/block]]
</ol>

[[!-- Resource Page --]]
<div class="page">
  [[> crm:E5_Event]]
</div>
[[/if]]
