
<semantic-form new-subject-template='[[>thisIri]]/{{UUID}}'
  post-action='redirect'
  browser-persistence=true
  form-id='example-2'
  fields='[
    {
      "id": "type",
      "label": "Type",
      "description": "The type of the created instance",
      "xsdDatatype": "xsd:anyURI",
      "minOccurs": "1",
      "maxOccurs": "1",
      "valueSetPattern": "
        SELECT $value $label WHERE {
          VALUES ($value $label) {
            (<http://www.cidoc-crm.org/cidoc-crm/E18_Physical_Thing> \"Human Made Object\")
            (<http://www.cidoc-crm.org/cidoc-crm/E73_Information_Object> \"Information Object\")
          }
        }
      ",
      "selectPattern": "SELECT $value WHERE { $subject a $value }",
      "insertPattern": "INSERT { $subject a $value } WHERE {}",
      "deletePattern": "DELETE { $subject a $value } WHERE {}"
    },
    {
      "id": "label",
      "label": "Label",
      "description": "The label used to display the instance",
      "xsdDatatype": "xsd:string",
      "minOccurs": "1",
      "maxOccurs": "1",
      "selectPattern": "SELECT $value WHERE { $subject rdfs:label $value }",
      "insertPattern": "INSERT { $subject rdfs:label $value } WHERE {}",
      "deletePattern": "DELETE { $subject rdfs:label $value } WHERE {}"
    },
    {
      "id": "acquisitionBeginDate",
      "label": "Acquisition begin date",
      "description": "The acquisition start date refers to the date that the current owning body acquired the object",
      "xsdDatatype": "xsd:dateTime",
      "minOccurs": "1",
      "maxOccurs": "1",
      "selectPattern": "
        PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
        SELECT ?value WHERE {
          $subject crm:P24i_changed_ownership_through ?acquisition.
          ?acquisition crm:P4_has_time-span ?acquisitionDate.
          ?acquisitionDate crm:P82a_begin_of_the_begin ?value
        }
      ",
      "insertPattern": "
        PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
        INSERT {
          $subject crm:P24i_changed_ownership_through ?acquisition.
          ?acquisition crm:P4_has_time-span ?acquisitionDate.
          ?acquisitionDate crm:P82a_begin_of_the_begin $value
        } WHERE {
          BIND(IRI(CONCAT(STR(?subject), \"/acquisition\")) as ?acquisition).
          BIND(IRI(CONCAT(STR(?subject), \"/acquisition/date\")) as ?acquisitionDate).
        }
      ",
      "deletePattern": "
        PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
        DELETE {
          $subject crm:P24i_changed_ownership_through ?acquisition.
          ?acquisition crm:P4_has_time-span ?acquisitionDate.
          ?acquisitionDate crm:P82a_begin_of_the_begin ?date
        } WHERE {
          $subject crm:P24i_changed_ownership_through ?acquisition.
          ?acquisition crm:P4_has_time-span ?acquisitionDate.
          ?acquisitionDate crm:P82a_begin_of_the_begin $value.
          ?acquisitionDate crm:P82a_begin_of_the_begin ?date.
        }
      "
    },
    {
      "id": "acquisitionEndDate",
      "label": "Acquisition end date",
      "description": "The acquisition end date refers to the date that the current owning body acquired the object",
      "xsdDatatype": "xsd:dateTime",
      "minOccurs": "1",
      "maxOccurs": "1",
      "selectPattern": "
        PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
        SELECT ?value WHERE {
          $subject crm:P24i_changed_ownership_through ?acquisition.
          ?acquisition crm:P4_has_time-span ?acquisitionDate.
          ?acquisitionDate crm:P82a_end_of_the_end ?value
        }
      ",
      "insertPattern": "
        PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
        INSERT {
          $subject crm:P24i_changed_ownership_through ?acquisition.
          ?acquisition crm:P4_has_time-span ?acquisitionDate.
          ?acquisitionDate crm:P82a_end_of_the_end  $value
        } WHERE {
          BIND(IRI(CONCAT(STR(?subject), \"/acquisition\")) as ?acquisition).
          BIND(IRI(CONCAT(STR(?subject), \"/acquisition/date\")) as ?acquisitionDate).
        }
      ",
      "deletePattern": "
        PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
        DELETE {
          $subject crm:P24i_changed_ownership_through ?acquisition.
          ?acquisition crm:P4_has_time-span ?acquisitionDate.
          ?acquisitionDate crm:P82a_end_of_the_end ?date
        } WHERE {
          $subject crm:P24i_changed_ownership_through ?acquisition.
          ?acquisition crm:P4_has_time-span ?acquisitionDate.
          ?acquisitionDate crm:P82a_end_of_the_end $value.
          ?acquisitionDate crm:P82a_end_of_the_end  ?date.
        }
      "
    },
    {
      "id": "acquisitionType",
      "label": "Acquistion Type",
      "description": "The type of acquisition refers to how the thing was transferred to the owning organisation. For example, donation, purchase, etc.",
      "xsdDatatype": "xsd:anyURI",
      "minOccurs": "1",
      "maxOccurs": "1",
      "selectPattern": "
        PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
        SELECT $value ?label WHERE {
          $subject crm:P24i_changed_ownership_through ?acquisition.
          ?acquisition crm:P2_has_type $value.
          $value skos:prefLabel $label
        }
      ",
      "valueSetPattern": "
        PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
        SELECT DISTINCT $value $label WHERE {
          VALUES ($value $label) {
            (<http://collection.britishmuseum.org/id/thesauri/acquisition/B> \"Bequeathed\")
            (<http://collection.britishmuseum.org/id/thesauri/acquisition/D> \"Donated\")
            (<http://collection.britishmuseum.org/id/thesauri/acquisition/FU> \"Funded\")
            (<http://collection.britishmuseum.org/id/thesauri/acquisition/P> \"Purchased\")
          }
        }
      ",
      "insertPattern": "
        PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
        INSERT {
          ?acquisition a crm:E8_Acquisition .
          ?acquisitionType a crm:E55_Type .
          $subject crm:P24i_changed_ownership_through ?acquisition.
          ?acquisition crm:P2_has_type $value.
        } WHERE {
          BIND(uri(concat(str($subject),\"/acquisition\")) as ?acquisition) .
        }
      "
    },
    {
      "id": "acquisitionFromActor",
      "label": "Acquisition from Actor",
      "xsdDatatype": "xsd:anyURI",
      "minOccurs": "1",
      "maxOccurs": "1",
      "selectPattern": "
        PREFIX rs: <http://www.researchspace.org/ontology/>
        PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
        SELECT ?value ?label WHERE {
          $subject crm:P24i_changed_ownership_through ?acquisition.
          ?acquisition crm:P23_transferred_title_from $value.
          $value rs:displayLabel ?label
        }
      ",
      "autosuggestionPattern": "
        PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
        SELECT $value $label WHERE {
          VALUES ($value $label) {
            (<http://collection.britishmuseum.org/id/person-institution/104636> \"The British Museum\")
            (<http://collection.britishmuseum.org/id/person-institution/170898> \"British Consulate General, Atlanta\")
            (<http://collection.britishmuseum.org/id/person-institution/188537> \"British Association for the Advancement of Science\")
          }
          FILTER REGEX($label, \"?token\", \"i\")
        }
      ",
      "insertPattern": "
        PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
        INSERT {
          ?acquisitionActor a crm:E39_Actor .
          ?acqusition a crm:E8_Acquisition .
          $subject crm:P24i_changed_ownership_through ?acquisition .
          ?acquisition crm:P23_transferred_title_from $value .
        } WHERE {
          BIND(uri(concat(str(?subject),\"/acquisition\")) as ?acquisition)
        }
      "
    }
  ]'>
  <bs-panel>
    <h4>Create CRM Instance </h4>
    <semantic-form-recover-notification></semantic-form-recover-notification>
    <bs-tabs fixed-key="form">
      <bs-tab event-key="1" title="General Information">
        <semantic-form-text-input for='label'></semantic-form-text-input>
        <semantic-form-select-input for='type'></semantic-form-select-input>
      </bs-tab>
      <bs-tab event-key="2" title="Acquisition">
        <semantic-form-datetime-input for="acquisitionBeginDate"></semantic-form-datetime-input>
        <semantic-form-datetime-input for="acquisitionEndDate"></semantic-form-datetime-input>
        <semantic-form-select-input for='acquisitionType'></semantic-form-select-input>
        <semantic-form-autocomplete-input for='acquisitionFromActor' placeholder='Search for an actor. Type e.g. "British"'></semantic-form-autocomplete-input>
      </bs-tab>
    </bs-tabs>
    <semantic-form-errors></semantic-form-errors>
    <!-- save and reset button for form -->

    <div class="btn-group"> 
      <button name="reset" class="btn btn-default">Reset</button>
      <button name="submit" class="btn btn-action">Save</button>
    </div>
  </bs-panel>
</semantic-form>
      