<semantic-simple-search
  query='
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
    PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
    
    SELECT ?resource ?label ?typelabel WHERE {
      ?resource crm:P1_is_identified_by ?name_identifier ;
                a ?type .
      ?name_identifier a crm:E41_Appellation .
      
      # Try both skos:prefLabel and rdfs:label
      OPTIONAL { ?name_identifier skos:prefLabel ?label_skos }
      OPTIONAL { ?name_identifier rdfs:label ?label_rdfs }
      BIND(COALESCE(?label_skos, ?label_rdfs) AS ?label)
      
      # Try both for type label
      OPTIONAL { ?type skos:prefLabel ?typelabel_skos }
      OPTIONAL { ?type rdfs:label ?typelabel_rdfs }
      BIND(COALESCE(?typelabel_skos, ?typelabel_rdfs) AS ?typelabel)
      
      FILTER REGEX(?label, ?__token__, "i")
      FILTER (
        ?type = crm:E18_Physical_Thing ||
        ?type = crm:E39_Actor ||
        ?type = crm:E5_Event ||
        ?type = crm:E53_Place ||
        ?type = crm:E55_Type
      )
    } 
    LIMIT 10'
  template='<span style="color: blue;" title="{{resource.value}}">{{label.value}} ({{typelabel.value}})</span>'
  input-placeholder='Search for sites, agents, events, places...'
>
</semantic-simple-search>
