[[#if (urlParam "frame")]]
<style>
  .rs-application .page.page-local-overwrite {
    padding-top: 0;
  }
</style>
<div class="page page-local-overwrite">
    [[> rsp:E53_Place]]
</div>

[[else]]
[[!-- Breadcrumb --]]
<ol class="page-breadcrumb">
    <li>
        <mp-link title="Home" url="/">Home</mp-link>
    </li>

   [[#block "activeBreadcrumb"]]
  <semantic-query query='
PREFIX crmgeo: <http://www.ics.forth.gr/isl/CRMgeo/>
PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
SELECT ?value_appellation WHERE {
  <[[this]]> a crm:E53_Place ;
          crmgeo:P1_is_identified_by ?appellation .
  ?appellation a crmgeo:E44_Place_Appellation ;
          skos:prefLabel ?value_appellation .
}'
    template='{{> breadcrumbTmpl}}'>
    <template id='breadcrumbTmpl'>
      <li class="active">
        {{#each bindings}}
          Place: {{value_appellation.value}}
        {{/each}}
      </li>
    </template>
   </semantic-query>
   [[/block]]
</ol>

[[!-- Place Resource Page --]]
<div class="page">
  [[> rsp:E53_Place]]
</div>
[[/if]]