<div style="display:flex; justify-content:flex-end; margin: 12px 0;">
  <semantic-link-container uri='http://www.researchspace.org/resource/ResourceContentEditE18' urlqueryparam-resource='[[this]]'>
    <button type="button" title="Author Resource in Form">
      <rs-icon icon-type="rounded" icon-name="edit_note" symbol="true"></rs-icon>
    </button>
  </semantic-link-container>
  <a href='/resource/?uri=http://www.researchspace.org/resource/ResourceContentEditE18&resource=[[this]]' title='Author Resource in Form' style='margin-left: 8px;'>
    Edit Form
  </a>
</div>

     <div class="col-md-6 inline-composite-2">
        <semantic-form  new-subject-template='{{scheme}}/{{{{raw}}}}{{UUID}}{{{{/raw}}}}'
            subject=[[this]]
            fields='[[fieldDefinitions
                      site_name="https://w3id.org/sirius/cultural-heritage-site/site_name"
                      
                    ]]'
        > 
                
  </div>  
 
                                     
                                  <semantic-table query="
     PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX base: <http://www.cidoc-crm.org/cidoc-crm/>
prefix skos: <http://www.w3.org/2004/02/skos/core#>

SELECT ?s ?value WHERE {
  ?s a base:E18_Physical_Thing ;
       base:P1_is_identified_by ?appellation .
  ?appellation a base:E41_Appellation ;
               skos:prefLabel ?value .
}"
                column-configuration='[
                  {"variableName": "s",
                  "displayName": "Subject",
                  "cellTemplate": "<semantic-link iri={{s.value}} />" 
                  }
                ]'>
</semantic-table>