[[#if (urlParam "details")]]
<div class="details-content">
  <!--
    [[#block "detailsResourceHeader"]]
    <div class="details-header">
      <mp-resource-thumbnail iri='[[this]]' class='detail-img'>
        <mp-resource-thumbnail-fallback>
          <with-types iri='[[this]]' template='{{> noImage}}' [[> rsp:TypeMappings]]>
            <template id="noImage">
              <span class="rs-icon {{getValueByKey typeToImage allTypes 'rs-icon-no-image'}} detail-icon-noimg" alt="{{directTypesLabels}}" title='{{directTypesLabels}}'></span>
            </template>
          </with-types>
        </mp-resource-thumbnail-fallback>
      </mp-resource-thumbnail>
      <div style="max-width: 70%;">
        <mp-draggable iri='[[this]]'>
          <div class="draggable-container">
            <semantic-query
              query='SELECT ?type ?typeLabel WHERE { <[[this]]> a ?type . ?type rdfs:label ?typeLabel . FILTER (lang(?typeLabel) = "en") }'
              template='{{> resourceType }}'>
              <template id='resourceType'>
                <div class="detail-type">
                  {{#each bindings}}{{typeLabel.value}}{{#if @last}}{{else}}, {{/if}}{{/each}}
                </div>
              </template>
            </semantic-query>
            <mp-label iri='[[this]]' class="detail-label"></mp-label>
          </div>
        </mp-draggable>
        <mp-copy-to-clipboard text='[[this]]'>
          <div class="rs-copy-IRI">Copy IRI</div>
        </mp-copy-to-clipboard>
      </div>
    </div>
    [[/block]]
  -->
  <bs-tabs class="details-tabs">
    <bs-tab title='Site Description' event-key='site-description' mount-on-enter=true class="rawdata-tab">
      <mp-field-visualization
        subject='[[this]]'
        fields='[[fieldDefinitionsFromQuery (setQueryBindings "SELECT DISTINCT ?field WHERE {?resource ?field ?o . ?field a <http://www.researchspace.org/resource/system/fields/Field> } ORDER BY DESC(?field)" resource=this.iri) ]]'
        template='{{> template}}'>
        <template id="template">{{> rsp:ResourceFieldBasedVisualization subject="[[this]]"}}</template>
      </mp-field-visualization>
    </bs-tab>
  </bs-tabs>
</div>
[[else]]
<with-types fixed-key='resource-[[this]]' iri='[[this]]' template='{{> resource}}' [[> rsp:TypeMappings]]>
  <template id='resource'>
    <div class="rs-resource-container">
      [[#block "resourceHeader"]]
      <!-- Resource Header -->
      <div class="rs-resource-header {{getValueByKey entityBgColor allTypes 'rs-entity-bg-thing'}}">
        <!-- Header top with draggable link -->
        <div class="rs-resource-header-topContainer">
          [[#block "resourceHeaderTop"]]
          <!-- (Popover code removed) -->
          [[/block]]
          <div class="rs-resource-header-topButtons">
            <semantic-link-container uri='[[resolvePrefix "rsp:ThinkingFrames"]]' urlqueryparam-view='knowledge-map' urlqueryparam-resource='[[this]]'>
              <button type="button" title="Author Resource in Knowledge Map">
                <rs-icon icon-type="round" icon-name="account_tree"></rs-icon>
              </button>
            </semantic-link-container>
            <mp-event-trigger id='details-view-trigger' type='Component.TemplateUpdate' data='{"iri": "{{iri}}"}' targets='["details-view", "open-details-sidebar"]'>
              <button type="button" title="Resource Details">
                <rs-icon icon-type="rounded" icon-name="info" symbol="true"></rs-icon>
              </button>
            </mp-event-trigger>
            <semantic-link-container uri='[[resolvePrefix "rsp:ThinkingFrames"]]' urlqueryparam-view='resource-editor' urlqueryparam-resource='[[this]]'>
              <button type="button" title="Author Resource in Form">
                <rs-icon icon-type="rounded" icon-name="edit_note" symbol="true"></rs-icon>
              </button>
            </semantic-link-container>
          </div>
        </div>
        <!-- Header content with image (if available) and resource primary information -->
        <div class="rs-resource-header-content-container">
          <div class="rs-resource-header--image-container">
            <semantic-if
              query='ASK { {<[[this]]> crm:P138i_has_representation|rs:PX_has_main_representation ?image . } UNION {<[[this]]> a rs:EX_Digital_Image . } UNION {<[[this]]> a rs:EX_Digital_Image_Region . } }'
              then='{{> then}}'>
              <template id="then">
                <div class="rs-resource-img__btngroup">
                  {{#if (hasKey allTypes "http://www.researchspace.org/ontology/EX_Digital_Image_Region")}}
                    <!-- no media icon for image regions -->
                  {{else}}
                    <mp-overlay-dialog title="Resource Media" type="modal" class="modal-xlSize">
                      <mp-overlay-dialog-trigger>
                        <button type="button" class="btn btn-icon" title="Explore Media">
                          <rs-icon icon-type="rounded" icon-name="fullscreen" symbol="true"></rs-icon>
                        </button>
                      </mp-overlay-dialog-trigger>
                      <mp-overlay-dialog-content>
                        <mp-page-loader urlqueryparam-frame=true iri='http://www.researchspace.org/resource/ItemCardMedia' context='[[this]]'></mp-page-loader>
                      </mp-overlay-dialog-content>
                    </mp-overlay-dialog>
                  {{/if}}
                  <semantic-link-container uri='[[resolvePrefix "rsp:ThinkingFrames"]]' urlqueryparam-view='iiif' urlqueryparam-resource='[[this]]'>
                    <button type="button" class="btn btn-icon" title="Explore Images in high resolution Viewer">
                      <rs-icon icon-type="rounded" icon-name="image" symbol="true"></rs-icon>
                    </button>
                  </semantic-link-container>
                  [[#if (hasPermission "forms:ldp:*")]]
                    {{#if (hasKey allTypes "http://www.cidoc-crm.org/cidoc-crm/E18_Physical_Thing")}}
                      {{#if (hasKey allTypes "http://www.researchspace.org/ontology/EX_Digital_Image_Region")}}
                        <!-- no annotation icon for image regions -->
                      {{else}}
                        <semantic-link-container uri='[[resolvePrefix "rsp:ThinkingFrames"]]' urlqueryparam-view='image-annotation' urlqueryparam-resource='[[this]]'>
                          <button type="button" class="btn btn-icon" title="Annotate Images">
                            <rs-icon icon-type="round" icon-name="photo_size_select_large"></rs-icon>
                          </button>
                        </semantic-link-container>
                      {{/if}}
                    {{/if}}
                  [[/if]]
                </div>
              </template>
            </semantic-if>
            [[#block "imageContent"]]
            <rs-object-representations
              query='SELECT DISTINCT ?label ?imgURL ?isMainRep WHERE {
                OPTIONAL { <[[this]]> rdfs:label ?label . }
                OPTIONAL {
                  { <[[this]]> a ?type ; FILTER(?type != rs:EX_Digital_Image) . ?representationProp rdfs:subPropertyOf* crm:P138i_has_representation . <[[this]]> ?representationProp ?representation .
                    OPTIONAL { <[[this]]> ?representationProp ?representation . ?representation a rs:EX_Digital_Image ; crmdig:L60i_is_documented_by/crmdig:L11_had_output/rs:PX_has_file_name ?fileName . BIND(CONCAT("/proxy/IIIF/", ?fileName, "/full/!640,480/0/default.jpg") AS ?uploadIiifUrl) }
                    OPTIONAL { <[[this]]> ?representationProp ?representation . ?representation a rs:EX_Digital_Image . BIND(REPLACE(STR(?representation), "^.*/(.*)$", "$1") AS ?imageID) . BIND(?imageID AS ?imgIiifId) BIND(CONCAT("/proxy/IIIF/", ?imageID, "/full/!640,480/0/default.jpg") AS ?iiifUrl) }
                    OPTIONAL { <[[this]]> crm:P138i_has_representation ?representation . ?representation a rs:EX_Digital_Image_Region . ?representation crmdig:L49_is_primary_area_of ?image . ?image crmdig:L60i_is_documented_by/crmdig:L11_had_output/rs:PX_has_file_name ?fileName . ?representation rs:boundingBox ?bb . BIND(STRAFTER(?bb, "xywh=") AS ?boundingBox) . BIND(CONCAT("/proxy/IIIF/", ?fileName, "/", ?boundingBox, "/!640,480/0/default.jpg") AS ?uploadIiifRegionUrl) }
                    OPTIONAL { <[[this]]> crm:P138i_has_representation ?representation . ?representation a rs:EX_Digital_Image_Region . ?representation crmdig:L49_is_primary_area_of ?image . ?representation rs:boundingBox ?bb . BIND(STRAFTER(?bb, "xywh=") AS ?boundingBox) . BIND(REPLACE(STR(?image), "^.*/(.*)$", "$1") AS ?imageID) . BIND(CONCAT("/proxy/IIIF/", ?imageID, "/", ?boundingBox, "/!640,480/0/default.jpg") AS ?iiifRegionUrl) }
                    BIND(COALESCE(?uploadIiifUrl, ?iiifUrl, ?uploadIiifRegionUrl, ?iiifRegionUrl, ?representation) AS ?imgURLx) BIND(IF(EXISTS { <[[this]]> rs:PX_has_main_representation ?representation }, true, false) AS ?isMainRepx)
                  } UNION {
                    <[[this]]> a rs:EX_Digital_Image .
                    OPTIONAL { <[[this]]> a rs:EX_Digital_Image ; crmdig:L60i_is_documented_by/crmdig:L11_had_output/rs:PX_has_file_name ?fileName . BIND(CONCAT("/proxy/IIIF/", ?fileName, "/full/!640,480/0/default.jpg") AS ?uploadIiifUrl) }
                    OPTIONAL { <[[this]]> a rs:EX_Digital_Image ; BIND(REPLACE(STR(<[[this]]>), "^.*/(.*)$", "$1") AS ?imageID) . BIND(CONCAT("/proxy/IIIF/", ?imageID, "/full/!640,480/0/default.jpg") AS ?iiifUrl) }
                    BIND(COALESCE(?uploadIiifUrl, ?iiifUrl, <[[this]]>) AS ?imgURLx) BIND(true AS ?isMainRepy)
                  }
                }
                BIND(?imgURLx AS ?imgURL) BIND(COALESCE(?isMainRepx, ?isMainRepy) AS ?isMainRep)
              } ORDER BY ?imgURL'
              no-image-template='{{> noImage}}'>
              <template id='noImage'>
                <div class="object-representations__image--focused">
                  <span class="rs-icon {{getValueByKey typeToImage allTypes 'rs-icon-entity_no-image'}} {{getValueByKey entityIconColor allTypes 'rs-icon-entity_no-image'}}"></span>
                </div>
              </template>
            </rs-object-representations>
            [[/block]]
          </div>
          <div style="padding: 1.8% 1.5% 1.5% 5%;">
            [[> resourceHeaderData image=true]]
            <!-- Inline map next to the image -->
            <div style="margin-top: 8px;">
              <semantic-if
                query='ASK { <[[this]]> <http://www.cidoc-crm.org/cidoc-crm/P55_has_current_location> ?c }'
                then='{{> mapBlock}}' else='{{> mapNoLocation}}'>
                <template id='mapBlock'>
                  <div style="height:220px;">
                    <semantic-map
                      id='map-result'
                      query='
                        PREFIX rdf:  <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
                        PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                        PREFIX base: <http://www.cidoc-crm.org/cidoc-crm/>
                        PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
                        SELECT DISTINCT (CONCAT("Point(", STR(?coords), ")") AS ?wkt) ?label ?subject WHERE {
                          BIND(<[[this]]> AS ?subject)
                          ?subject base:P1_is_identified_by ?appellation ; base:P55_has_current_location ?coords .
                          ?appellation a base:E41_Appellation ; skos:prefLabel ?label .
                        }
                      '
                      tuple-template='{{> mapTupleTemplate }}'>
                      <template id='mapTupleTemplate'>
                        <semantic-link iri="{{subject.value}}">{{label.value}}</semantic-link>
                      </template>
                    </semantic-map>
                  </div>
                </template>
                <template id='mapNoLocation'>
                  <div style="font-size:0.8rem;color:#666;">No geolocation available.</div>
                </template>
              </semantic-if>
            </div>
          </div>
        </div>
      </div>
      [[/block]]
      <!-- Tabs: Site Description, Related Places, Nara Grid -->
      <bs-tab-container id="tab-container" class="rs-resource-tabs" default-active-key="site-description">
        <div>
          <bs-nav bs-style="tabs">
            <bs-nav-item event-key="site-description">Site Description</bs-nav-item>
            <bs-nav-item event-key="nara-grid">Nara Grid</bs-nav-item>
            <bs-nav-item event-key="risk-analysis">Risk Analysis</bs-nav-item>
            <bs-nav-item event-key="places">Magnitude Scale</bs-nav-item>
          </bs-nav>
          <bs-tab-content animation="true">
            <bs-tab-pane event-key="site-description">
              <div class="rs-resource-tab-container">
                <div>
                  <hr class="rs-resource-section--headerLine">
                  [[#block "instituteHeader"]]
                  <span class="h1 rs-resource-section--header">Dataset</span>
                  [[/block]]
                  <span class="text-underline rs-resource-section--header">Latest confirmed data set from [[currentDateTime format="dd-MM-yyyy"]].</span>
                </div>
                <div class="rs-resource-data-table">
                  <mp-field-visualization
                    subject='[[this]]'
                    fields='[[fieldDefinitions denominazione="http://www.siriusplatform-risk-assessment/field/denominazione" tipologia="http://www.siriusplatform-risk-assessment/field/tipologia" descrizione="http://www.siriusplatform-risk-assessment/field/descrizione" cronologia="http://www.siriusplatform-risk-assessment/field/cronologia" contesto-socio-culturale="http://www.siriusplatform-risk-assessment/field/contesto-socio-culturale" contesto-amministrativo="http://www.siriusplatform-risk-assessment/field/contesto-amministrativo" contesto-finanziario="http://www.siriusplatform-risk-assessment/field/contesto-finanziario" contesto-legale="http://www.siriusplatform-risk-assessment/field/contesto-legale" stakeholders="http://www.siriusplatform-risk-assessment/field/stakeholders" ]]'
                    template='{{> template}}'>
                    <template id="template">{{> rsp:ResourceFieldBasedVisualization subject="[[this]]"}}</template>
                  </mp-field-visualization>
                </div>
              </div>
            </bs-tab-pane>
            <bs-tab-pane event-key="places" mount-on-enter=true>
              <div class="rs-resource-tab-container">
                [[> sirius:tornado-graph]]
              </div>
            </bs-tab-pane>
            [[#if (hasPermission "forms:ldp:*")]]
              <bs-tab-pane event-key="nara-grid" mount-on-enter=true>
                <div class="rs-resource-tab-container">
                  [[> sirius:nara-grid]]
                </div>
              </bs-tab-pane>
            [[/if]]
            <bs-tab-pane event-key="risk-analysis">
              <div class="rs-resource-tab-container">
                [[> sirius:risk-analysis]]
              </div>
            </bs-tab-pane>
          </bs-tab-content>
        </div>
      </bs-tab-container>
    </div>
  </template>
</with-types>
[[/if]]

[[#*inline "resourceHeaderData"]]
  [[#block "headerData"]]
  <!-- RESOURCE LABEL -->
  <div class="rs-resource-header--singletitle">
    <div class="rs-resource-header--title" style="text-transform: capitalize;">
      <mp-label iri='[[this]]'></mp-label>
    </div>
    <div style="display: flex;">
      <mp-copy-to-clipboard text='[[this]]'>
        <div class="rs-copy-IRI">Copy IRI</div>
      </mp-copy-to-clipboard>
      <div class="statements">Statements</div>
    </div>
  </div>
  <!-- Removed headerDefaultData block as requested -->
  [[/block]]
[[/inline]]
<!-- noop: deploy trigger to ensure reverted header is deployed -->
