<semantic-search
categories='{
  "<http://www.siriusplatform-risk-assessment/field/min_score>": [{
    "kind": "numeric-range",
    "datatype": "http://www.w3.org/2001/XMLSchema#double",
    "queryPattern": " $subject  ^cidoc:P31_has_modified ?event .

      ?event a cidoc:E5_Event ;
            rdfs:label ?event_name ;
            cidoc:P39i_was_measured_by ?magnitude .
          
      ?magnitude a crmsci:S21_Measurement ;
                cidoc:P2_has_type <https://w3id.org/sirius/type/magnitude-score> ;
                cidoc:P40_observed_dimension ?dimension .

      ?dimension a cidoc:E54_Dimension ;
                cidoc:P90_has_value ?__value__ .
          FILTER(xsd:double(?__value__) >= xsd:double(?__numericRangeBeginValue__)) .
          FILTER(xsd:double(?__value__) <= xsd:double(?__numericRangeEndValue__)) ."
  }]}'
  search-profile='{                   
    "categories":  
    [
    {
      "iri":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
      "label":"Concept",
      "thumbnail": "/assets/images/icons/rs-icons/user.svg"
    },  
    {
      "iri":"<http://www.cidoc-crm.org/cidoc-crm/E18_Physical_Thing>",
      "label":"Site",
      "thumbnail": "/assets/images/icons/rs-icons/places.svg"
    },
    
    {
      "iri":"<http://www.cidoc-crm.org/cidoc-crm/E89_Propositional_Object>",
      "label":"Agent",
      "thumbnail": "/assets/images/icons/rs-icons/places.svg"
    },
    
    {
      "iri":"<http://www.cidoc-crm.org/extensions/crmsci/S21_Measurement>",
      "label":"Magnitude Score",
      "thumbnail": "../images/fcs/things.svg"
    },
    
    {
      "iri": "<http://www.w3.org/2001/XMLSchema#Decimal>",
      "label": "Height",
      "thumbnail": "/assets/images/icons/rs-icons/height.svg"
    },
    
    {
      "iri":"<http://www.cidoc-crm.org/cidoc-crm/E5_Event>",
      "label":"Event",
      "thumbnail": "../images/fcs/things.svg"
    }
    
    
    ],
    
    "relations":
    [
    
    {
      "iri":"<http://www.siriusplatform-risk-assessment/field/agent_inverse>",
      "label":"Agent",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E18_Physical_Thing>",
      "hasRange":"<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>"
    },
    {
      "iri":"<http://www.siriusplatform-risk-assessment/field/min_score>",
      "label":"Magnitude Range",
      "hasDomain":"<http://www.cidoc-crm.org/cidoc-crm/E18_Physical_Thing>",
      "hasRange":"<http://www.w3.org/2001/XMLSchema#Decimal>"
    }
    
    ]
  }'
  
  relations='{
    "<http://www.siriusplatform-risk-assessment/field/agent_inverse>": [{
      "kind": "resource",
      "queryPattern": "{$subject ^base:P31_has_modified ?event .?event a base:E5_Event ; base:P11_had_participant ?__value__ .?__value__ a base:E39_Actor .}"
    }] 
  }'
  >
  <semantic-search-query-keyword domain='<http://www.cidoc-crm.org/cidoc-crm/E18_Physical_Thing>' query='
    PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
    prefix skos: <http://www.w3.org/2004/02/skos/core#>
    SELECT ?subject 
    WHERE {
      ?subject a 
      <http://www.cidoc-crm.org/cidoc-crm/E18_Physical_Thing>; 
      <http://www.cidoc-crm.org/cidoc-crm/P1_is_identified_by>   ?name_identifier . 
      ?name_identifier a <http://www.cidoc-crm.org/cidoc-crm/E41_Appellation>.
      ?name_identifier skos:prefLabel ?label.
      FILTER REGEX(STR(?label), ?__token__, "i") 
    } 
    ' default-query='
    prefix org:   <http://example.com/org/>
    prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    prefix skos: <http://www.w3.org/2004/02/skos/core#>
    PREFIX wdt:  <http://www.wikidata.org/prop/direct/>
    PREFIX wd:  <http://www.wikidata.org/entity/>
    prefix crm: <http://www.cidoc-crm.org/cidoc-crm/>
    
    SELECT DISTINCT ?subject ?label 
    WHERE { 
      ?subject a 	crm:E18_Physical_Thing
      
      
    }
    ' debounce=500></semantic-search-query-keyword>
    <div data-flex-layout="row stretch-stretch">
      <div data-flex-self="size-1of3" style="flex: 0 0 20px;">
            <semantic-search-facet value-relations='{
              "<http://www.siriusplatform-risk-assessment/field/min_score>": {
                "kind": "numeric-range",
                "valuesQuery": "PREFIX base: <http://www.cidoc-crm.org/cidoc-crm/>\nPREFIX crmsci: <http://www.ics.forth.gr/isl/CRMsci/>\nPREFIX xsd: <http://www.w3.org/2001/XMLSchema#>\nSELECT ?numericRangeBeginValue ?numericRangeEndValue WHERE {\n  $subject ^base:P31_has_modified ?event .\n  ?event base:P39i_was_measured_by ?magnitude .\n  ?magnitude a crmsci:S21_Measurement ;\n             base:P2_has_type <https://w3id.org/sirius/type/magnitude-score> ;\n             base:P40_observed_dimension ?dimension .\n  ?dimension a base:E54_Dimension ;\n             base:P90_has_value ?val .\n  BIND(xsd:double(?val) AS ?numericRangeBeginValue)\n  BIND(xsd:double(?val) AS ?numericRangeEndValue)\n}"
              }
            }'></semantic-search-facet>
      </div>
      <semantic-search-result-holder>
        <div data-flex-self="md-full">
          <semantic-search-result>
            <mp-sparql-result-counts id='query-count' query="SELECT DISTINCT * {}" template='{{#if hasLimit}} <bs-alert bs-style="warning">
              Showing {{numberOfResults}} of {{totalNumberOfResults}} matches. <strong>Please, refine your search.</strong> </bs-alert>
              {{else}}<span> found {{numberOfResults}} matches </span>{{/if}}'>
            </mp-sparql-result-counts>
          </semantic-search-result>
          <bs-tabs unmount-on-exit=true id='search-results' animation=false>
            <bs-tab event-key="2" title="Table">
              <semantic-search-result>
                <semantic-table id='table-result' query="
                PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
                PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                PREFIX base: <http://www.cidoc-crm.org/cidoc-crm/>
                PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
                
                SELECT DISTINCT ?subject ?label_type ?note WHERE { 
                  ?subject 
                  base:P1_is_identified_by ?appellation ;
                  base:P3_has_note ?note ;
                  base:P2_has_type ?type . 
                  ?appellation a base:E41_Appellation ;
                  skos:prefLabel ?value .
                  ?type a base:E55_Type ;
                  skos:prefLabel ?label_type .
                }
                
                
                " column-configuration='[{
                  "displayName": "Site", 
                  "cellTemplate": "<semantic-link iri={{subject.value}} />" 
                },
                {
                  "displayName": "Typology", 
                  "cellTemplate": "<div>{{label_type.value}}</div>" 
                },
                {
                  "displayName": "Description", 
                  "cellTemplate": "<div>{{note.value}}</div>" 
                }]' options='{"showFilter":false, "resultsPerPage":10}  '>
              </semantic-table>
            </semantic-search-result>
          </bs-tab>
          <bs-tab event-key="3" title="Map">
            <div style='height: 30vw;'>
              <semantic-search-result>
                <semantic-map id='map-result' query='
                PREFIX rdf:  <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
                PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                PREFIX base: <http://www.cidoc-crm.org/cidoc-crm/>
                PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
                
                SELECT DISTINCT (CONCAT("Point(", STR(?coords), ")") AS ?wkt) ?label ?subject WHERE {
                  ?subject 
                  base:P1_is_identified_by ?appellation ;
                  base:P55_has_current_location ?coords .
                  ?appellation a base:E41_Appellation ;
                  skos:prefLabel ?label .
                }
                
                ' tuple-template='{{> template }}'>
                <template id='template'>
                  <semantic-link iri="{{subject.value}}">{{label.value}}</semantic-link>
                  
                </template>
              </semantic-map>
            </div>
          </semantic-search-result>
        </bs-tab>
      </bs-tabs>
      
      <bs-panel>
        <semantic-search-result>
          <mp-sparql-download id='csv-download' query="SELECT * WHERE { }" header="text/csv"
          filename="csv-result.csv">
          <button class="btn btn-default">Download CSV</button>
        </mp-sparql-download>
      </semantic-search-result>
      <semantic-search-result>
        <mp-sparql-download id='json-download' query="SELECT * WHERE { }" header="application/sparql-results+json"
        filename="json-result.json">
        <button class="btn btn-default">Download JSON</button>
      </mp-sparql-download>
    </semantic-search-result>
  </bs-panel>
</div>
</semantic-search-result-holder>
</div>
</semantic-search>