<semantic-form
  persistence='{"type":"sparql","targetInsertGraphIri":"file://E18_Ravenna.rdf-14-12-2025-08-23-25"}'
  new-subject-template="https://w3id.org/sirius/cultural-heritage-site/id/{{{{UUID}}}}"
  fields='[[ fieldDefinitions
  denominazione = "http://www.siriusplatform-risk-assessment/field/denominazione"
  type = "http://www.siriusplatform-risk-assessment/field/type"

  # Risk Analysis
  event_name = "http://www.siriusplatform-risk-assessment/field/event_name"
  risk_agent = "http://www.siriusplatform-risk-assessment/field/risk_agent"
  risk_desc = "http://www.siriusplatform-risk-assessment/field/risk_desc"

  scale_a_val_1 = "http://www.siriusplatform-risk-assessment/field/scale_a_val_1"
  scale_a_val_2 = "http://www.siriusplatform-risk-assessment/field/scale_a_val_2"
  scale_a_val_3 = "http://www.siriusplatform-risk-assessment/field/scale_a_val_3"
  scale_a_description = "http://www.siriusplatform-risk-assessment/field/scale_a_description"

  scale_b_val_1 = "http://www.siriusplatform-risk-assessment/field/scale_b_val_1"
  scale_b_val_2 = "http://www.siriusplatform-risk-assessment/field/scale_b_val_2"
  scale_b_val_3 = "http://www.siriusplatform-risk-assessment/field/scale_b_val_3"
  scale_b_description = "http://www.siriusplatform-risk-assessment/field/scale_b_description"

  scale_c_val_1 = "http://www.siriusplatform-risk-assessment/field/scale_c_val_1"
  scale_c_val_2 = "http://www.siriusplatform-risk-assessment/field/scale_c_val_2"
  scale_c_val_3 = "http://www.siriusplatform-risk-assessment/field/scale_c_val_3"
  scale_c_description = "http://www.siriusplatform-risk-assessment/field/scale_c_description"

  magnitude_min_score = "http://www.siriusplatform-risk-assessment/field/magnitude_min_score"
  magnitude_max_score = "http://www.siriusplatform-risk-assessment/field/magnitude_max_score"
  uncertainty_min_score = "http://www.siriusplatform-risk-assessment/field/uncertainty_min_score"
  uncertainty_max_score = "http://www.siriusplatform-risk-assessment/field/uncertainty_max_score"

  # NARA Grid
  nara_d1_a1 = "http://www.siriusplatform-risk-assessment/field/nara_d1_a1"
  nara_d1_a2 = "http://www.siriusplatform-risk-assessment/field/nara_d1_a2"
  nara_d1_a3 = "http://www.siriusplatform-risk-assessment/field/nara_d1_a3"
  nara_d1_a4 = "http://www.siriusplatform-risk-assessment/field/nara_d1_a4"
  nara_d1_a5 = "http://www.siriusplatform-risk-assessment/field/nara_d1_a5"
  nara_d1_a6 = "http://www.siriusplatform-risk-assessment/field/nara_d1_a6"

  nara_d2_a1 = "http://www.siriusplatform-risk-assessment/field/nara_d2_a1"
  nara_d2_a2 = "http://www.siriusplatform-risk-assessment/field/nara_d2_a2"
  nara_d2_a3 = "http://www.siriusplatform-risk-assessment/field/nara_d2_a3"
  nara_d2_a4 = "http://www.siriusplatform-risk-assessment/field/nara_d2_a4"
  nara_d2_a5 = "http://www.siriusplatform-risk-assessment/field/nara_d2_a5"
  nara_d2_a6 = "http://www.siriusplatform-risk-assessment/field/nara_d2_a6"

  nara_d3_a1 = "http://www.siriusplatform-risk-assessment/field/nara_d3_a1"
  nara_d3_a2 = "http://www.siriusplatform-risk-assessment/field/nara_d3_a2"
  nara_d3_a3 = "http://www.siriusplatform-risk-assessment/field/nara_d3_a3"
  nara_d3_a4 = "http://www.siriusplatform-risk-assessment/field/nara_d3_a4"
  nara_d3_a5 = "http://www.siriusplatform-risk-assessment/field/nara_d3_a5"
  nara_d3_a6 = "http://www.siriusplatform-risk-assessment/field/nara_d3_a6"

  nara_d4_a1 = "http://www.siriusplatform-risk-assessment/field/nara_d4_a1"
  nara_d4_a2 = "http://www.siriusplatform-risk-assessment/field/nara_d4_a2"
  nara_d4_a3 = "http://www.siriusplatform-risk-assessment/field/nara_d4_a3"
  nara_d4_a4 = "http://www.siriusplatform-risk-assessment/field/nara_d4_a4"
  nara_d4_a5 = "http://www.siriusplatform-risk-assessment/field/nara_d4_a5"
  nara_d4_a6 = "http://www.siriusplatform-risk-assessment/field/nara_d4_a6"
]]'
>
  <bs-panel header="Sirius Assessment Form">
    <bs-tabs id="resource-content-insert-tabs" default-active-key="site-description">
      
      <bs-tab event-key="site-description" title="Site Description">
        <semantic-form-text-input 
          for="denominazione" 
          label="Denominazione" 
          languages='["it","en"]'>
        </semantic-form-text-input>

        <semantic-form-select-input for="type" label="Type"></semantic-form-select-input>
      </bs-tab>

      <bs-tab event-key="nara-grid" title="Nara Grid">
        <div style="color:#666; padding:8px 0;">
          [[> sirius:nara-grid-insert]]
        </div>
      </bs-tab>

      <bs-tab event-key="risk-analysis" title="Risk Analysis">
        <semantic-form-text-input for="event_name" label="Main Event Name"></semantic-form-text-input>
        <div style="color:#666; padding:8px 0;">
          [[> sirius:risk-analysis-insert]]
        </div>
      </bs-tab>

      <bs-tab event-key="places" title="Magnitude Scale">
        <div style="color:#666; padding:8px 0;">Magnitude Scale fields can be configured here.</div>
      </bs-tab>

      <bs-tab event-key="site-pictures" title="Site Pictures">
        <div style="color:#666; padding:8px 0;">Site Pictures fields can be configured here.</div>
      </bs-tab>

      <bs-tab event-key="cartographic-docs" title="Cartographic Documentation">
        <div style="color:#666; padding:8px 0;">Cartographic Documentation fields can be configured here.</div>
      </bs-tab>

    </bs-tabs>

    <div class="pull-right" style="margin-top: 20px;">
      <semantic-form-submit-button label="Save All Changes" btn-class="btn-primary"></semantic-form-submit-button>
    </div>
  </bs-panel>
</semantic-form>